<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="browser" value="chrome" />
    <add key="url" value="http://blog.testproject.io/" />
	<add key="dataPath" value="C:\Users\Admin\documents\visual studio 2012\Projects\EntryPoint\Tests\data1.csv" />
  </appSettings>
</configuration>